/100rakon_com/.env
/100rakon_com/.env.backup
/100rakon_com/.phpunit.result.cache
/100rakon_com/vendor/
/100rakon_com/node_modules/
/100rakon_com/npm-debug.log
/100rakon_com/yarn-error.log
/100rakon_com/public/storage
/100rakon_com/storage/*.key
/100rakon_com/storage/app/*
!/100rakon_com/storage/app/.gitignore
!/100rakon_com/storage/app/public/
!/100rakon_com/storage/app/public/.gitignore
/100rakon_com/storage/framework/cache/data/*
!/100rakon_com/storage/framework/cache/data/.gitignore
/100rakon_com/storage/framework/sessions/*
!/100rakon_com/storage/framework/sessions/.gitignore
/100rakon_com/storage/framework/testing/*
!/100rakon_com/storage/framework/testing/.gitignore
/100rakon_com/storage/framework/views/*
!/100rakon_com/storage/framework/views/.gitignore
/100rakon_com/storage/logs/*
!/100rakon_com/storage/logs/.gitignore
/100rakon_com/bootstrap/cache/*.php
!/100rakon_com/bootstrap/cache/.gitignore
/.idea/
/.vscode/
